# Configuração do Servidor
PORT=3002

# Banco de Dados
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/meubanco

# Autenticação (JWT)
JWT_SECRET=sua_chave_secreta_super_segura_aqui

# Integração de IA (LangChain / OpenAI)
OPENAI_API_KEY=sk-proj-sua-chave-openai-aqui
